@import "./mixin";

@include mobile {
  .upload-container {
    background-color: rgba(224, 223, 220, 0);
    padding-top: 20vh;
    height: 100%;
  }
  .uploader-desc {
    padding-top: 2vh;
    max-width: 70vw;
    padding-bottom: 5vh;
  }
  .img-viewer {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

@include tablet {
  .upload-container {
    background-color: rgba(224, 223, 220, 0);
    height: 90vh;
  }
  .uploader-desc {
    padding-top: 2vh;
    max-width: 70vw;
    padding-bottom: 5vh;
  }
  .img-viewer {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .view-70 {
    width: 70%;
  }
}

@include desktop {
  .upload-container {
    background-color: rgba(224, 223, 220, 0);
    height: 90vh;
  }
  .uploader-desc {
    padding-top: 2vh;
    max-width: 70vw;
    padding-bottom: 5vh;
  }
  .img-viewer {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .view-70 {
    width: 70%;
  }
}
.blind {
  display: none;
  top: 0;
}
