@import "./mixin";

@include mobile {
  .card-container {
    justify-content: center;
  }
}

@include tablet {
  .card-container {
    display: inline-block;
    justify-content: center;
  }
}

@include desktop {
  .card-container {
    display: inline-block;
    justify-content: center;
  }
}

.card-container-wrapper {
  display: block;
  max-width: 70%;
  align-items: center !important;
  justify-content: center;
}
