@import "./mixin";

@include mobile {
  .option {
    text-align: left;
    transition: 0.2s;
    width: 0px;
    height: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 0px;
  }
}

@include tablet {
  .option {
    text-align: left;
    transition: 0s;
    width: 300px;
    height: 90vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 0;
  }
}

@include desktop {
  .option {
    padding-left: 10px;
    text-align: left;
    transition: 0s;
    width: 300px;
    height: 90vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 0;
  }
}

.option-input {
  width: 50px;
}
